<ion-view title="">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  

<ion-slide-box class="mijnachtergrond">
<!-- slide #-->  
  <ion-slide>
    <div>
    	<img src="img/beer.png"><br />
  	<video width="100%" poster="img/bekijkgebaar.png" controls>
  <source src="img/beer.mov" type="video/mp4">
</video> 
  	</div>
   </ion-slide>
   
<!-- slide #-->  
  <ion-slide>
    <div>
    	<img src="img/ijsje.png"><br />
  	<video width="100%" poster="img/bekijkgebaar.png" controls>
  <source src="img/ijsje.mov" type="video/mp4">
</video> 
  	</div>
   </ion-slide>
   
<!-- slide #-->  
  <ion-slide>
    <div>
    	<img src="img/schaap.png"><br />
  	<video width="100%" poster="img/bekijkgebaar.png" controls>
  <source src="img/schaap.mov" type="video/mp4">
</video> 
  	</div>
   </ion-slide>      
  

  
  
  
  
  
</ion-slide-box>





  </ion-content>
</ion-view>
